# Data Science Tools and Ecosystem

Some of the popular languages that Data Scientists use are:
1. R
2. Python
3. SQL

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- Python
- R
- SQL
- Julia
- Java

Some of the commonly used libraries used by Data Scientists include:

1. NumPy
2. scikit-learn
3. tensorflow

|Data Science Tools | 
| ------ |
| Jupyter Notebook |
|RStudio |
| Visual Studio Code |

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
# This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [3]:
# This will convert 200 minutes to hours by diving by 60
minutes = 200
hours = minutes / 60
hours

3.3333333333333335

## Author
Gizem Görünmez